#fixedTimeline {
    float: left;
    
    /* -- Platzhalter --*/
    width: 50px;
    height: 500px;

}

.page { position: relative;}
.text { position: absolute; font-family: 'Average Sans', sans-serif;}
#text1 {position: absolute; font-family: 'Roboto', sans-serif; left: 100px; top: 20px;}

#theuniverse {
    float: left;
}